@import "reset";
@import "media";
@import "font";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    scroll-behavior:smooth;
    font-size: 10px;
}
body {
    font-family: 'Roboto';
    background-color: #F9F7F4;
    width: 100%;
}

.header {
    background-image: url("../image/header/01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0 auto;

    &__wrapper {
        max-width: 88.87%;
        margin: 0 auto;
        width: 100%;

        @include for-big-desktop-up {
            max-width: 60.83%;
        }
    }

    &__navigation {
    }

    &__content {
        margin: 0 0 76px 0;

        @include for-tablet-portrait-up {
            margin: 0 0 135px 0;
        }
    }

    &__row {
        display:flex;
        flex-direction: column;
        align-items: center;    
    }

    &__title {
        line-height: 109%;
        letter-spacing: 0.02em;
        text-align: center;
        padding: 0 0 41px 0;
        max-width: 100%;
        margin:0 auto;

        @include standardFontStyle (700, 3.4rem, $color-primary);

        @include for-phone-up {
            font-size: 7rem;
        }

        @include for-tablet-portrait-up {
            padding: 0 0 51px 0;            
            font-size: 9.6rem;
        }

        
    }

    &__subtitle {
        line-height: 142%;
        text-align: center;
        padding: 0 0 41px 0;
        max-width: 86.11%;

        @include standardFontStyle (400, $m-p-normal, $color-primary);

        @include for-tablet-landscape-up {
            font-size: $p-normal;
            max-width: 48.57%;
            padding: 0 0 49px 0;
        }

    }

    &__btn {
        background: $color-primary;
        border-radius: 10px;
        padding: 5px 20px;
        line-height: 142%;
        letter-spacing: -0.01em;
        margin: 0 0 52px 0;

        @include standardFontStyle (400, $m-p-normal, $color-secondary);

        @include for-tablet-landscape-up {
            font-size: $p-small;
            margin: 0 0 119px 0;
        }

        @include for-desktop-up {

            &:hover a {
                color: $color-primary;
            }

            &:hover {
                background-color: #EFA501;
            }

            &:active a {
                color: $color-secondary;
            }

            &:active {
                background-color: #F8E6BE;
            }
        }

    }

    &__link {
        color: $color-secondary;
    }

}
    
.navigation {

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 0;
        flex-wrap: wrap;
        padding: 32px 0 86px 0;
        flex: 1 1 auto;

        @include for-tablet-landscape-up {
            padding: 29px 0 147px 0;
        }
    }

    &__logo {
        max-width: 13.3rem;
        @include for-tablet-portrait-up {
            max-width: 18.18rem;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        
    }

    &__list {
        list-style: none;
        flex-direction: row;
        justify-content: space-between;
        display: none;
        flex: 1 1 auto;

        @include for-tablet-landscape-up {
            display: flex;
        }
    }

    &__link {
        text-decoration: none;
        line-height: 142%;
        margin: 0 30px 0 0;
        display: none;

        @include standardFontStyle (400, $p-normal, $color-primary);

        @include for-tablet-landscape-up {
            display: inline-block;
        }


        @include for-desktop-up {
            margin: 0 50px 0 0;
        }

        &:last-of-type {
            margin: 0;
        }
        
        &:hover {

            @include for-desktop-up {
            text-decoration: underline;
            text-underline-offset: 6px;
            }
        }
    }

    &__numder a{
        line-height: 142%;

        @include standardFontStyle (400, $m-p-normal, $color-primary);

        @include for-tablet-portrait-up {
            font-size: $p-normal;
        }
    }
}

.tour-list {


    &__block-title {
        text-align: center;
        margin: 0 0 25px 0;

        @include for-tablet-portrait-up {
            margin: 0 0 34px 0;
        }
    }

    &__nav {
        padding: 0 0 45px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include for-tablet-landscape-up {
            padding: 0 0 106px 0;
            flex-wrap: nowrap;
            margin: 0 auto;
        }


        & a {
            margin: 0 10px 0 0;
            cursor: pointer;
            line-height: 205%;

            @include standardFontStyle (700, $m-p-normal, $color-secondary);

            @include for-tablet-landscape-up {
                margin: 0 30.5px 0 0;
                font-size: $p-big;
                line-height: 122%;
            }
        
            &:last-of-type {
            margin: 0;
            }

            &:nth-of-type(3) {
                margin: 0;

                @include for-phone-up {
                    margin: 0 10px 0 0;
                }

                @include for-tablet-landscape-up {
                    margin: 0 30.5px 0 0;
                }
            }

            &:hover {
                text-decoration: none;

                @include for-desktop-up {
                    text-decoration: underline;
                    text-underline-offset: 10px;
                }
            }

            &:active {
                color: #EFA501;
                outline: none;
                text-decoration: underline;
                text-underline-offset: 4px;

                @include for-desktop-up {           
                    text-underline-offset: 10px;
                }
            }
        }
        
    }

    &__catalog {
        margin: 0 0 76px 0;

        @include for-tablet-landscape-up {
            margin: 0 0 134px 0;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(31.8rem, 1fr));
        gap: 18px;

        @include for-desktop-up {
            gap: 30px;
        }
    }

    &__card {
        height: 31.8rem;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);

        @include for-tablet-landscape-up {
            border-radius: 50px;
            height: 53.1rem;
        }

        & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                transition: 300ms;
        }

        &:hover img {
            @include for-desktop-up {
            transform: scale(1.2);
            transition: 300ms;
            }
        }
    }

    &__info {
        margin: 26px 0 0 0;

        @include for-tablet-landscape-up {
            margin: 50px 0 0 0;
        }
    }

    &__card-title {
        margin: 0 0 16px 25px;

        @include for-tablet-landscape-up {
            margin: 0 0 20px 50px;
        }

        @include for-desktop-up {
            width: 65%;
        }
    }

    &__card-subtitle {
        margin: 0 0 183px 25px;
        letter-spacing: -0.01em;

        @include for-tablet-landscape-up {
            margin: 0 0 323px 50px;
            letter-spacing: -0.01em;
        }

        @include for-desktop-up {
            margin: 0 0 281px 50px;
        }
    }

    &__card-btn a{
        background-position: 89% 50%;
        background-image: url(../image/icons/Vector.svg);
        background-repeat: no-repeat;
        padding: 0 51px 0 0;
        bottom: 25px;
        left: 25px;
        position: absolute;

        @include for-tablet-landscape-up {
            padding: 7px 57px 7px 20px;
            bottom: 42px;
            left: 30px;
            background-position: 89% 50%;
        }
    }
}
.block-title {
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 112%;

    @include standardFontStyle (700, $m-h2, $color-secondary);

    @include for-tablet-landscape-up{
        font-size: $h2;
        line-height: 124%;
        letter-spacing: normal;
    }
}

.card {
    cursor: pointer;
    
    &:hover .card-btn a {
        @include for-desktop-up {
            background-color: #286562;
            border-radius: 50px;
            }
    }
}

.card-title {
    line-height: 120%;
    letter-spacing: 0.044em;

    @include standardFontStyle (500, $m-h3, $color-primary);

    @include for-tablet-landscape-up {
        font-size: $h3;
        line-height: 122%;
        letter-spacing: 0;
    }
}
.card-subtitle {
    line-height: 142%;

    @include standardFontStyle (400, $m-p-normal, $color-primary);

    @include for-tablet-landscape-up {
        font-size: $p-normal;
    }

    &_s {
        line-height: 142%;

        @include standardFontStyle (400, $m-p-normal, $color-primary);
    
        @include for-tablet-landscape-up {
            font-size: $p-small;
        }
    }

}

.card-btn a {
    line-height: 142%;
    background-color: rgba(28,28,28,0);

    @include standardFontStyle(700, $m-p-normal, $color-primary);

    @include for-tablet-landscape-up {
        font-size: $p-big;
        line-height: 122%;
    }

    &:active {
        @include for-desktop-up {
            background-color: #EFA501;
        }
    }

}

.wrapper {
    max-width: 88.33%;
    margin: 0 auto;

    @include for-tablet-landscape-up {
        max-width: 89.65%;
    }

    @include for-big-desktop-up {
        max-width: 60.938%;
    }
}

.tour-creation {

    &__block-title {
        margin: 0 0 20px 0;

        @include for-tablet-landscape-up {
            margin: 0 0 30px 0;
        }


    }

    &__block-subtitle {
        padding: 0 0 40px 0;
        margin: 0 auto;
        max-width: 31.8rem;

        @include for-tablet-landscape-up {
            padding: 0 0 100px 0;
            max-width: 40rem;
        }
    }

    &__form {
        background-color: $color-primary;
        border-radius: 30px;
        margin: 0 0 76px 0;

        @include for-tablet-landscape-up {
            border-radius: 50px;
            margin: 0 0 135px 0;
        }

        @include for-desktop-up {
            margin: 0 0 145px 0;
        }
    }

}
.block-subtitle {
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    text-align: center;
    color: $color-subtitle;
    font-size: $m-p-normal;

    @include for-tablet-landscape-up {
        font-size: $p-normal;
    }
}

.form {

    &__wrapper {
        max-width: 87.42%;
        margin: 0 auto;

        @include for-tablet-landscape-up {
            max-width: 86.93%;
        }

        @include for-big-desktop-up {
            max-width: 88.03%;
        }
    }


    &__body {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0 0 0;

        @include for-tablet-landscape-up {
            padding: 60px 0 0 0;
            margin: 0 -9.5px 0 -9.5px;
        }

        @include for-big-desktop-up {
            margin: 0 -14.5px 0 -14.5px;
            padding: 70px 0 0 0;
        }

    }

    &__row {
        width: 100%;
        margin: 0 0 29.7px 0;

        @include for-tablet-landscape-up {
            margin: 0 0 31px 0;
        }

        &_50 {
            width: 100%;
            margin: 0 0 31px 0;    

            @include for-tablet-portrait-up {
                margin: 0 9.5px 33px 9.5px;
                max-width: calc(50% - 19px);
            }

            @include for-big-desktop-up {
                    margin: 0 14.5px 34px 14.5px;
                    max-width: calc(50% - 29px);
            } 
        }

    }

    &__label {

        input, textarea {
            width: 100%;
            resize: vertical;
            background-color:#F9F7F4;
            box-sizing: border-box;
            padding: 10.5px;
            border-radius: 10px;
            border: 1px solid #F4F0E9;
            appearance: none;

            @include standardFontStyle(400, $m-p-normal, $color-subtitle);

            @include for-tablet-landscape-up {
                padding: 20.5px;
                font-size: $p-normal;
            }
            
            @include for-desktop-up {
                &:hover {
                    background-color: #F4F0E9;
                }

                &:focus {
                    background-color: #F4F0E9;
                    border: 1px solid #A6A6A6;
                }
             }
        }

        input:valid, input:focus, textarea:valid, textarea:focus {
            color: $color-secondary;
        }

        textarea {
            resize: none;
        }

        input[type="date"] {
            resize: none;
            text-transform: uppercase;
            letter-spacing: -0.03em;

        }

        label {
            padding: 0 0 8px 0;
            display: inline-block;
            line-height: 142%;

            @include standardFontStyle(400, $m-p-normal, $color-secondary);

            @include for-tablet-landscape-up {
                font-size: $p-normal;
            }
        }

        select:invalid {
            color: gray;
            padding: 13px 10px;
            background-image: url(../image/icons/Rectangle\ 34\ \(Stroke\).svg);
            background-repeat: no-repeat;
            background-position: 95% 50%;

            @include for-tablet-landscape-up {
                padding:22px 20px;
            }

        }

        select {
            background-image: url(../image/icons/Rectangle\ 34\ \(Stroke\).svg);
            background-repeat: no-repeat;
            background-position: 95% 50%;
            width: 100%;
            resize: vertical;
            background-color:#F9F7F4;
            box-sizing: border-box;
            padding: 13px;
            border-radius: 11.5px;
            border: 1px solid #F4F0E9;
            appearance: none;
            cursor: pointer;

            @include standardFontStyle (400, $m-p-normal, $color-secondary);

            @include for-tablet-landscape-up {
                font-size: $p-normal;
                padding: 22px 20px;
            }

            &:hover {
                background-color: #F4F0E9;
            }
        }
    }

    &__comment {
        height: 13.2rem;

        @include for-tablet-landscape-up {
        height: 15.2rem;
        }
    }

    &__text {
        line-height: 142%;
        padding: 0 0 9.5px 0;

        @include standardFontStyle(400, $m-p-normal, $color-secondary);

        @include for-tablet-landscape-up {
            font-style: normal;
            font-weight: 400;
            font-size: $p-normal;
            line-height: 142%;
            padding: 0 0 7px 0;
        }
    }

    &__radio-area {
        width: 2rem;
        height: 2rem;
        display:inline-block;
        border:2px solid #1B1F2B;
        text-align:center;
        line-height: 81.25%;
        margin: 0 10px 0 0; 
        cursor:pointer; 
        border-radius: 50%;

        @include for-tablet-landscape-up {
            width:2.6rem;
            height:2.6rem;
            margin-right: 11px;
            line-height: 118.75%; 
        }
    }

    &__radio {

        & input {
            display: none;
        }

        & label {
            position: relative;
            cursor: pointer;
            display: inline-flex;
            align-items:flex-start;
            line-height: 142%;
            margin: 0 26px 0 0;

            @include standardFontStyle(400, $m-p-normal, $color-secondary);

            @include for-tablet-landscape-up {
                font-size: $p-normal;
                margin: 0 27px 2px 0;

            }
        }

        & label::before {
            content:'';
            -webkit-appearance: none;
            background-color: transparent;
            border: 2px solid #1B1F2B;
            margin: 0 11px 0 0;
            display: inline-block;
            position: relative;
            cursor: pointer;
            border-radius: 50%;
            padding: 0.82rem;

            @include for-tablet-landscape-up {
                padding: 1.15rem;
            }
        }

        & input:checked + label:after {
            content: '';
            display: block;
            position: absolute;
            top: 0.52rem;
            left: 0.52rem;
            width: 0.9rem;
            height: 0.9rem;
            border-radius: 50%;
            background-color: #1B1F2B;

            @include for-tablet-landscape-up {
                top: 0.6rem;
                left: 0.6rem;
                padding: 0.7rem;
            }
        }
    }

    &__checkbox {
        display: inline-flex;

        & input {
          display: none;
        }
    
        & label {
          position: relative;
          cursor: pointer;
          display: inline-flex;
          align-items:flex-start;
          font-style: normal;
          font-weight: 400;
          line-height: 142%;
          font-size: $m-p-normal;

          @include standardFontStyle(400, $m-p-normal, $color-subtitle);

          @include for-tablet-landscape-up {
            font-size: $p-small;
            letter-spacing: -0.01em;
          }
        }
    
        & label::before {
            content:'';
            -webkit-appearance: none;
            background-color: transparent;
            border: 2px solid #1B1F2B;
            margin: 0 10px 0 0;
            display: inline-block;
            position: relative;
            cursor: pointer;
            border-radius: 2px;
            padding: 0.83rem;

            @include for-tablet-landscape-up {
                padding: 1.1rem;
                margin: 0 11px 0 0;
            }

            @include for-desktop-up {
                margin: 0 19px 0 0;
            }
        }
    
        & input:checked + label:after {
          content: '';
          display: block;
          position: absolute;
          top: 0.5rem;
          left: 0.8rem;
          width: 0.5rem;
          height: 0.8rem;
          border: solid #1B1F2B;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);

            @include for-tablet-landscape-up {
                top: 0.6rem;
                left: 1rem;
                width: 0.6rem;
                height: 1.1rem;
            }
        }
      
    }

    &__link {
        text-decoration: none;
        line-height: 142%;

        @include standardFontStyle(400, $m-p-normal, $color-secondary);

        @include for-tablet-landscape-up {
            font-size: $p-small;
            letter-spacing: -0.01em;

            &:hover {
                text-decoration: underline;
            }

            &:active {
                text-decoration: underline;
                color: #286562;;
            }
        }
    }

   
    &__btn {
        display: flex;
        margin: 0 0 40px 0;

        @include for-tablet-landscape-up {
            margin: 0 0 60px 0;
        }
    }

    &__btn-accept {
        display: flex;
        margin: 0 10px 0 0;

        @include for-phone-up {
            margin: 0 30px 0 0;
        }
        
        input {
            width: 13.4rem;
            height: 4.7rem;
            background: #286562;
            border-radius: 10px;
            line-height: 142%;
            justify-content: center;
            cursor: pointer;

            @include standardFontStyle(400, $m-p-normal, $color-primary);

            @include for-tablet-landscape-up {
                width: 23.5rem;
                height: 5.8rem;
                font-size: $p-normal;
            }

            @include for-desktop-up {
                &:hover {
                    background-color: #3B7E7B;
                }

                &:active {
                    background-color: #627F7E;
                }
            }
        }
    }

    &__btn-reset {
        display: flex;

        input {
            width: 13.4rem;
            height: 4.7rem;
            background: #E0F0E5;
            border-radius: 10px;
            line-height: 142%;
            justify-content: center;
            cursor: pointer;

            @include standardFontStyle(400, $m-p-normal, #286562);

            @include for-tablet-landscape-up {
                width: 23.5rem;
                height: 5.8rem;
                font-size: $p-normal;
            }

            @include for-desktop-up {
                &:hover {
                    background-color: #F1F3F2;
                }

                &:active {
                    background-color: #D9DFDB;
                }
            }
        }


    }
}
.feedback {

    margin: 0 0 75px 0;

    @include for-tablet-landscape-up {
        margin: 0 0 135px 0;
    }

    &__block-title{
        padding: 0 0 20px 0;
        margin: 0 auto;

        @include for-tablet-portrait-up {
            max-width: 79.58%;
        }

        @include for-tablet-landscape-up {
            padding: 0 0 30px 0;
        }

    }

    &__block-subtitle {
        padding: 0 0 50px 0;
        margin: 0 auto;

        @include for-tablet-portrait-up {
            max-width: 45.36%;
            padding-bottom: 100px;
        }

        @include for-desktop-up {
            max-width: 40%;
        }

    }

    &__catalog {
        display: flex;
        flex-wrap: wrap;
        margin: -9px 0 -9px;

        @include for-tablet-portrait-up {
            flex-wrap: nowrap;
            margin: 0 -9px 0 -9px;
        }

        @include for-desktop-up {
            margin: 0 -15px 0 -15px;
        }

    }

    &__card {
        flex: 1 1 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        background: #F4F0E9;
        border-radius: 20px;
        margin: 9px 0 9px 0;

        @include for-tablet-portrait-up {
            border-radius: 50px;
            flex: 1 1 50%;
            margin: 0 9px 0 9px;
        }

        @include for-desktop-up {
            margin: 0 15px 0 15px;  
        }

    }

    &__review {
        line-height: 142%;
        flex: 0 0 3;
        padding: 21px 20px 42px 20px;

        @include standardFontStyle(700, $m-p-normal, $color-secondary);

        @include for-tablet-landscape-up {
            font-size: $p-big;
            line-height: 122%;
            padding: 40px 40px 70px 40px;
        }
    }

    &__content {

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        @include for-tablet-landscape-up {
            &:not(:last-child) {
                margin-bottom: 26px;
            }
        }
    }

    &__author {
        display: flex;
        padding: 0px 20px 20.5px 20px;
        flex: 0 0 1;

        @include for-tablet-landscape-up {
            padding: 0 40px 40px 40px;
        }

    }

    &__info {
        flex: 1 1 84.694%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include for-tablet-landscape-up {
            justify-content: space-between;
        }
    }

    &__name {
        line-height: 120%;
        letter-spacing: 0.04em;

        @include standardFontStyle(700, $m-h3, $color-secondary);

        @include for-tablet-landscape-up {
            font-weight: 500;
            font-size: $h3;
            line-height: 122%;
            letter-spacing: 0;
        }
    }

    &__tour {
        line-height: 142%;
        letter-spacing: -0.01em;
        padding-top: 8px;

        @include standardFontStyle(400, $m-p-normal, $color-subtitle);

        @include for-tablet-landscape-up {
            font-size: $p-small;
        }
    }

    &__img {
        flex: 1 15.306%;

        & img {
            max-width: 7.5rem;
            border-radius: 50%;
        }
    }
}
.gallery {


    &__block-title {
        padding:0 0 20px 0;

        @include for-tablet-landscape-up {
            padding: 0 0 30px 0;
        }
    }
    
    &__block-subtitle {
        padding: 0 0 50px 0;
        margin: 0 auto;
        max-width: 90%;

        @include for-tablet-portrait-up {
            max-width: 45.36%;
            padding-bottom: 100px;
        }

        @include for-big-desktop-up {
            max-width: 22%;
        }

    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 18px;;
        margin: 0 21px 75px 21px;

        @include for-tablet-portrait-up {
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 30px;
        }

        @include for-tablet-landscape-up {
            margin: 0 21px 136px 21px;
        }

        @include for-desktop-up {
            grid-template-columns: repeat(20, 1fr);
            grid-gap: 30px;
            margin: 0 30px 136px 30px;
        }
    }

    &__row {

        &_s {
            grid-column: span 3;
            overflow: hidden;

            &:first-child {
                margin-right: 4px;
            }

            &:nth-child(4) {
                margin-left: 4px;
            }


            @include for-tablet-portrait-up {
                grid-column: span 4;
                &:first-child {
                    margin-right: 0;
                }

                &:nth-child(4) {
                    margin-left: 4px;
                }
            }

            @include for-desktop-up {
                grid-column: span 5;
            }
        }

        &_l {
            grid-column: span 2;
            overflow: hidden;

            @include for-tablet-portrait-up {
                grid-column: span 3;
            }

            @include for-desktop-up {
                grid-column: span 4;
            }
        }

    }

    &__img {

            height: 11rem;
            object-fit: cover;
            border-radius: 20px;
            width: 100%;

            @include for-phone-up {
                height: 20rem;
            }

            @include for-tablet-landscape-up {
                height: 30rem;
                border-radius: 50px;
            }

        &_s {

            @include for-tablet-landscape-up {
                height: 30.1rem;
            }

        }
    }

}

.none {
    &_2 {
        display: none;

        @include for-desktop-up {
            display: block;
        }
    }

    &_3 {
        display: none;

        @include for-tablet-portrait-up {
            display: block;
        }
    }
}

.stories {

    &__block-title {
        padding:0 0 20px 0;

        @include for-tablet-landscape-up {
            padding: 0 0 29px 0;
        }
    }
    
    &__block-subtitle {
        padding: 0 0 50px 0;
        margin: 0 auto;

        @include for-tablet-portrait-up {
            max-width: 45.36%;
            padding-bottom: 100px;
        }

        @include for-big-desktop-up {
            max-width: 40%;
        }

    }

    &__catalog {
        margin: 0 0 75px 0;

        @include for-tablet-landscape-up {
            margin: 0 0 135px 0;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        margin: -10px 0 -10px 0;

        @include for-tablet-landscape-up {
            margin: -25px 0 -25px 0;
        }
    }

    &__card {
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        height: 45.5rem;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
        display: flex;
        flex-direction: column;
        margin: 10px 0 10px 0;

        @include for-tablet-landscape-up {
            height: 56.7rem;
        }

        @include for-tablet-landscape-up {
            border-radius: 50px;
            margin: 25px 0 25px 0;
        }


        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            transition: 300ms;
        }

        &:hover img {

            @include for-desktop-up {
            transform: scale(1.2);
            transition: 300ms;
            }
        }    
    } 
    
    &__info {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__card-title {
        max-width: 15rem;
        margin: 31px 0 21.5px 30px;

        @include for-tablet-landscape-up {
            max-width: 100%;
            margin: 60px 0 37px 60px;
        }
    }

    &__card-subtitle {
        margin: 0 0 0 30px;
        line-height: 142%;
        max-width: 50rem;

        @include for-tablet-landscape-up {
            max-width: 55.5rem;
            margin: 0 0 0 60px;
        }
    }

    &__list {
        list-style-type: "\2022";
        padding-inline-start: 9px;
        line-height: 142%;
        margin: 24px 0 0 6px;

        @include for-tablet-landscape-up {
            padding-inline-start: 12px;
            margin: 27px 0 0 6px;
        }
}

    &__item {
        list-style-type: "\2022";
        padding-inline-start: 9px;

        @include for-tablet-landscape-up {
            padding-inline-start: 12px;
        }

    }

    &__action {
        display: flex;
        justify-content: space-between;
        margin: 0 0 31.5px 30px;

        @include for-tablet-landscape-up {
            margin: 0 60px 60px 40px;
        }

    }

    &__card-btn a {
        background-position: 89% 50%;
        background-image: url(../image/icons/Vector.svg);
        background-repeat: no-repeat;
        padding: 0 51px 0 0;

        @include for-tablet-landscape-up {
            padding: 7px 57px 7px 20px;
        }

    }

    &__link {
        color: $color-primary;
    }

    &__media {
        display: none;

        @include for-tablet-landscape-up {
        display: inline-flex;
        }
    }
}


.media {

    &__link {
        line-height: 142%;

        @include standardFontStyle(400, $p-normal, $color-primary);

        &:not(:last-child) {
            margin-right: 36px;
        }

        @include for-desktop-up {

            &:hover {
                text-decoration: underline;
                text-underline-offset: 6px;
            }

            &:active {
                color: #EFA501;
                text-decoration: underline;
                text-underline-offset: 6px;
            }
        }
    }
}

.cta {
    margin: 0 0 75px 0;

    @include for-tablet-landscape-up {
        margin: 0 0 135px 0;
    }

    &__wrapper {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;

        @include for-tablet-landscape-up {
            max-width: 77.1rem;
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &__img {

        & img {
        max-width: 13rem;
        height: 13.3rem;
        border-radius: 20px;

            @include for-tablet-landscape-up {
                max-width: 37rem;
                border-radius: 50px;
                height: auto;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        max-width: 29.1rem;
        margin: 0 auto;

        @include for-tablet-landscape-up {
            margin: 0;
            max-width: 100%;
        }
    }

    &__text {
        line-height: 120%;
        margin: 31px 0 0 0;
        letter-spacing: 0.04em;
        text-align: center;

        @include standardFontStyle(500, $m-h3, $color-secondary);

        @include for-tablet-landscape-up {
            margin: 104px 0 0 30px;
            font-size: $h3;
            line-height: 122%;
            max-width: 100%;
            text-align: left;
            letter-spacing: 0;
        }
    }

    &__mail {
        text-align: center;
        margin: 20px 0 0 0;
        line-height: 142%;

        @include standardFontStyle(400, $m-p-normal, $color-subtitle);

        @include for-tablet-landscape-up {
            margin: 21px 0 0 30px;
            font-size: $p-normal;
            text-align: left;
        }
    }

    &__link {
        color: $color-secondary;

        @include for-desktop-up {
            &:hover {
                text-decoration: underline;
            }

            &:active {
                text-decoration: underline;
                color: #286562;
            }
        }
    }
}
.footer {
    background-color: #F4F0E9;
    height: 9.5rem;

    @include for-tablet-landscape-up {
        height: 8.8rem;
    }

    &__wrapper {
        margin: 0 auto;

        @include for-tablet-landscape-up {
            max-width: 89.7%;  
        }

        @include for-big-desktop-up {
            max-width: 60.83%;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include for-tablet-landscape-up {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__text {
        line-height: 142%;
        margin: 21px 0 0 0;
        text-align: center;

        @include standardFontStyle(400, $m-p-normal, $color-subtitle);
        
        @include for-tablet-landscape-up {
            font-size: $p-normal;
            margin: 30px 0 0 0;
        }
    }

    &__media {
        margin: 11px 0 0 0;
        align-self: center;

        @include for-tablet-landscape-up {
            margin: 31px 0 0 0;
        }
    }

    &__item {
        display: inline-block;

        @include standardFontStyle(400, $m-p-normal, $color-secondary);

        @include for-tablet-landscape-up{
            font-size: $p-normal;
        }

        &:first-child {
            margin: 0 24px 0 0;

            @include for-tablet-landscape-up {
                margin: 0 36px 0 0;
            }
        }

        &_l {
            margin: 0 16px 0 0;

            @include for-tablet-landscape-up {
                margin: 0 27px 0 0;
            }
        }
    }

    &__inst {
        max-width: 1.08rem;
        margin: 4px 6.54px 0 7.63px;

        @include for-tablet-landscape-up {
            max-width: 1.4rem;
            margin: 3px 12px 0 0;
        }
    }

    &__fb {
        max-width: 0.62rem;
        margin: 2px 8.85px 0 0;

        @include for-tablet-landscape-up {
            max-width: 0.8rem;
            margin: 1px 15px 0 0;
        }
    }
    
    &__vk {
        max-width: 1.54rem;
        margin: 6px 6.54px 0 0;

        @include for-tablet-landscape-up {
            max-width: 2rem;
            margin: 6px 12px 0 0;
        }
    }

    &__link {
        color: $color-secondary;

        @include for-desktop-up {
            &:hover {
                text-decoration: underline;
                text-underline-offset: 6px;
            }

            &:active {
                text-decoration: underline;
                color: #EFA501;
                text-underline-offset: 6px;
            }
        }
    }
}
a.link_active {
    color: #EFA501;
    outline: none;
    text-decoration: underline;
    text-underline-offset: 4px;

    @include for-tablet-landscape-up {           
        text-underline-offset: 10px;
    } 
}